<!-- <p>balances works!</p> -->
<div class="container">

    <div class="row">
        <div class="col">
            <label for="Movimieto">Movimieto</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="movimiento">
                <option>Debe</option>
                <option>Haber</option>
            </select>
        </div>
        <div class="col">
            <label for="cuenta">Cuenta</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="cuentah">
                <option *ngFor="let balance of listBalance;"> {{balance.cuenta}}</option>
            </select>
        </div>
        <div class="col">
            <label for="Monto">Monto</label>
            <input class="form-control" type="number" placeholder=" " [(ngModel)]="monto">
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 20px;"
                (click)="hacerMovimiento()">Hacer movimiento</button>
        </div>
    </div>
    <div class="row text-center">
        <h3 style="color: rgb(43, 19, 225);">{{msgerror}}</h3>
    </div>
    <div class="row text-center">
        <h3 style="color: rgb(155, 0, 155);">Agregar Cuenta</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="Cuenta" class="form-label">Cuenta</label>
                <input type="text" [(ngModel)]="cuenta" class="form-control" placeholder=" ">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="Tipo" class="form-label">Tipo</label>
                <input type="text" [(ngModel)]="tipo" class="form-control" placeholder=" ">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="descripción" class="form-label">Descripción</label>
                <input type="text" [(ngModel)]="descripcion" class="form-control" placeholder=" ">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="saldo" class="form-label">Saldo</label>
                <input type="number" [(ngModel)]="saldo" class="form-control" placeholder=" "
                    (keyup.enter)="agregarBalanceo()">
            </div>
        </div>

    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Activo</th>
                    <th scope="col" colspan="2">Pasivo</th>
                </tr>
            </thead>
            
            <tr>
                <th scope="col" colspan="2">Circulante</th>
                <th scope="col" colspan="2">Circulante</th>
            </tr>

            <tr *ngFor="let par of cuentasCirculantes; let i=index">
                <td>{{par["activo"].cuenta}}</td>
                <td *ngIf="par['activo'].cuenta != ''">${{par["activo"].saldo}}</td>
                <td>{{par["pasivo"].cuenta}}</td>
                <td *ngIf="par['pasivo'].cuenta != ''">${{par["pasivo"].saldo}}</td>
            </tr>
            
            <tr>
                <th scope="col" colspan="2">Fijo</th>
                <th scope="col" colspan="2">Fijo</th>
            </tr>
            <tr *ngFor="let par of cuentasFijas; let i=index">
                <td>{{par["activo"].cuenta}}</td>
                <td *ngIf="par['activo'].cuenta != ''">${{par["activo"].saldo}}</td>
                <td>{{par["pasivo"].cuenta}}</td>
                <td *ngIf="par['pasivo'].cuenta != ''">${{par["pasivo"].saldo}}</td>
            </tr>

            <tr>
                <td>Total Activos: </td>
                <td>${{total_activo}}</td>
                <td>Total Pasivos: </td>
                <td>${{total_pasivo}}</td>
            </tr>

            <tr>

                <th colspan="2"></th>
                <th colspan="2">Capital</th>
            </tr>

            <tr>
                <th colspan="2"></th>
                <th colspan="2">Contable</th>
            </tr>
            <tr *ngFor="let cuenta of cuentasCapital; let i=index">
                <td colspan="2"></td>
                <td>{{cuenta.cuenta}}</td>
                <td *ngIf="cuenta.cuenta != ''">${{cuenta.saldo}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Total Capital</td>
                <td>${{total_capital}}</td>
            </tr>

            <tr>
                <td>Total Activos:</td>
                <td>${{total_activo}}</td>
                <td>Total Pasivo + Capital</td>
                <td>${{total_pasivo + total_capital}}</td>
            </tr>
        </table>
    </div>
    <div class="row text-center">
        <h2 style="color: red;">{{msg}}</h2>
    </div>
</div>